body{
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

#board{
  margin:30px auto;
  display:grid;
  width:720px;
  height:720px;
  position:relative;
}

.cell{
  border:1px solid #444;
  position:relative;
  overflow:hidden;
}

.cell img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.center{
  position:absolute;
  width:480px;
  height:480px;
  top:120px;
  left:120px;
  z-index:1;
}

.center img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.token{
  width:18px;
  height:18px;
  border-radius:50%;
  position:absolute;
  bottom:3px;
  right:3px;
  border:2px solid white;
}
