body {
  margin:0;
  background:#1e1e2f;
  font-family:Arial;
  color:white;
}

.game {
  padding:10px;
}

.top-bar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
  background:#2a2a40;
  padding:10px;
  border-radius:10px;
}

.board {
  width:100%;
  max-width:700px;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 80px);
  gap:4px;
}

.cell {
  background:#2a2a40;
  border-radius:8px;
  font-size:10px;
  text-align:center;
  padding:3px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.cell img {
  width:100%;
  height:50px;
  object-fit:cover;
  object-position:top; /* ОБРЕЗАЕМ НИЗ */
  border-radius:6px;
}

.player-token {
  font-size:14px;
}

.log {
  margin-top:15px;
  background:#111;
  padding:10px;
  border-radius:10px;
  min-height:80px;
  font-size:12px;
}
