.board{
  margin-top:60px;
}

.cell{
  position:relative;
  overflow:hidden;
}

.cell img{
  width:100%;
  height:55px;
  object-fit:cover;
  border-radius:6px;
}

.token{
  width:15px;
  height:15px;
  border-radius:50%;
  position:absolute;
  bottom:3px;
  right:3px;
  border:2px solid white;
}
