body{
  font-family: Arial;
  text-align:center;
  background:#f5f5f5;
}

#board{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}

.player{
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
  padding:10px 15px;
  margin:5px;
  background:green;
  color:white;
  border:none;
  border-radius:5px;
}
