body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#1c1c2e,#0f0f1f);
  color:white;
}

.hidden{ display:none; }

.screen{
  padding:20px;
  text-align:center;
}

.board{
  display:grid;
  grid-template-columns:repeat(9,1fr);
  grid-template-rows:repeat(9,90px);
  gap:4px;
  max-width:800px;
  margin:20px auto;
}

.cell{
  background:#2b2b45;
  border-radius:8px;
  font-size:10px;
  padding:4px;
}

.cell img{
  width:100%;
  height:60px;
  object-fit:cover;
}

.center{
  grid-column:2 / span 7;
  grid-row:2 / span 7;
  overflow:hidden;
  border-radius:15px;
}

.center img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.topbar{
  display:flex;
  justify-content:space-around;
  background:#22223a;
  padding:10px;
  border-radius:10px;
}

.dice-area{
  margin-top:15px;
}

.dice{
  font-size:50px;
  transition:0.5s;
}

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:flex;
  align-items:center;
  justify-content:center;
}

.card-window{
  background:#fff;
  color:#000;
  padding:30px;
  border-radius:15px;
  width:300px;
}
