body{
  margin:0;
  background:#1e1e2f;
  font-family:Arial;
  color:white;
}

.game{
  padding:10px;
}

.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#2a2a40;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
}

.board{
  display:grid;
  gap:4px;
  max-width:720px;
  margin:0 auto;
}

.cell{
  background:#2a2a40;
  border-radius:8px;
  font-size:10px;
  text-align:center;
  padding:4px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.cell img{
  width:100%;
  height:75px;
  object-fit:cover;
  object-position:top;
  border-radius:6px;
  margin-top:4px;
}

.center{
  grid-column:2 / span 7;
  grid-row:2 / span 7;
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:12px;
}

.center img{
  width:100%;
  height:100%;
  object-fit:contain;
}

.log{
  margin-top:15px;
  background:#111;
  padding:10px;
  border-radius:10px;
  min-height:60px;
  font-size:12px;
}
