body{
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

.hidden{ display:none; }

.board{
  display:grid;
  grid-template-columns:repeat(9,80px);
  grid-template-rows:repeat(9,80px);
  gap:4px;
  justify-content:center;
  margin-top:20px;
}

.cell{
  background:#222;
  border-radius:8px;
  font-size:10px;
  padding:5px;
}

.center{
  grid-column:2 / span 7;
  grid-row:2 / span 7;
}

.center img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:15px;
}
