body{
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

h1{
  color:gold;
}

button{
  padding:10px 20px;
  margin:10px;
  font-size:16px;
  cursor:pointer;
}

#board{
  width:900px;
  height:900px;
  margin:20px auto;
  display:grid;
  grid-template-columns:repeat(9,1fr);
  grid-template-rows:repeat(9,1fr);
}

.cell{
  border:1px solid #333;
  background:#222;
  position:relative;
  overflow:hidden;
}

.cell img{
  width:100%;
  height:100%;
  object-fit:cover;
}

#center{
  grid-column:2/9;
  grid-row:2/9;
  background:url("center.jpg") center/cover no-repeat;
  border:4px solid gold;
}

#dice{
  font-size:60px;
  cursor:pointer;
  transition:transform 0.6s;
}

#dice.roll{
  transform:rotate(720deg);
}

.playerToken{
  width:18px;
  height:18px;
  border-radius:50%;
  position:absolute;
  bottom:2px;
  right:2px;
}

.popup{
  position:fixed;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  background:black;
  padding:30px;
  border:3px solid gold;
  display:none;
  font-size:20px;
}
