body{
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

#board {
  width: 90vw;
  max-width: 900px;
  height: 90vw;
  max-height: 900px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.cell {
  border: 1px solid #333;
  position: relative;
  overflow: hidden;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#center {
  background: url("IMG_8954.jpeg") center/cover no-repeat;
  border: 3px solid gold;
}

#dice3d{
  font-size:60px;
  cursor:pointer;
  margin:10px;
  transition:transform 0.5s;
}

#dice3d.roll{
  transform:rotate(720deg);
}

.popup{
  position:fixed;
  top:30%;
  left:50%;
  transform:translateX(-50%);
  background:#000;
  padding:30px;
  border:3px solid gold;
  display:none;
}

.playerToken{
  width:20px;
  height:20px;
  border-radius:50%;
  position:absolute;
}
